{
 :interfaces
 {:thread
  {:fields
   {:id          {:type String}
    :description {:type String}
    :votes       {:type String}}}}

 :objects
 {:User
  {:fields
   {:id            {:type String}
    :pass          {:type String}
    :first_name    {:type String}
    :last_name     {:type String}
    :is_active     {:type Boolean}
    :created       {:type String}
    :changed       {:type String}
    :status        {:type String}
    :email         {:type String}
    :admin         {:type Boolean}
    :comments      {:type    (list :Comment)
                    :resolve :get-user-comments}
    :posts         {:type    (list :Post)
                    :resolve :get-user-posts}
    :subscriptions {:type    (list :Subscription)
                    :resolve :get-user-subs}}}

  :Group
  {:fields
   {:id          {:type String}
    :description {:type String}
    :created     {:type String}
    :changed     {:type String}
    :created_by  {:type :User}}}

  :Subscription
  {:fields
   {:id            {:type String}
    :created       {:type String}
    :subscriber    {:type :User}
    :subscribed_to {:type :Group}}}

  :Post
  {:implements [:thread]
   :fields     {:id          {:type String}
                :created     {:type String}
                :changed     {:type String}
                :title       {:type String}
                :description {:type String}
                :url         {:type String}
                :posted_by   {:type String}
                :posted_in   {:type String}
                :votes       {:type String}
                }}

  :Comment
  {:implements [:thread]
   :fields     {:id           {:type String}
                :created      {:type String}
                :changed      {:type String}
                :description  {:type String}
                :posted_to    {:type :Post}
                :replied_to   {:type :Comment}
                :votes        {:type String}
                :commented_by {:type :User}}}

  :Privilege
  {:fields
   {:id         {:type String}
    :first_name {:type String}
    :last_name  {:type String}
    :is_active  {:type Boolean}
    :created    {:type String}
    :changed    {:type String}}}}

 :queries
 {:user
  {:type     :User
   :args    {:id   {:type (non-null String)}
             :pass {:type (non-null String)}}
   :resolve :get-user}

  :top_posts
  {:type    (list :Post)
   :resolve :get-top-posts}

  :comments
  {:type    (list :Comment)
   :args    {:id {:type String}}
   :resolve :get-comments}}

 :mutations
 {:createuser
  {:type    :User
   :args    {:id         {:type (non-null String)}
             :email      {:type (non-null String)}
             :first_name {:type (non-null String)}
             :last_name  {:type (non-null String)}
             :pass       {:type (non-null String)}
             :admin      {:type (non-null Boolean)}
             :is_active  {:type (non-null Boolean)}
             :created    {:type (non-null String)}}
   :resolve :create-user}
  :removeuser
  {:type    :User
   :args    {:id {:type (non-null String)}}
   :resolve :delete-user}

  :updateuser
  {:type    :User
   :args    {:email      {:type (non-null String)}
             :first_name {:type (non-null String)}
             :last_name  {:type (non-null String)}
             :pass       {:type (non-null String)}
             :admin      {:type (non-null Boolean)}
             :is_active  {:type (non-null Boolean)}
             :changed    {:type (non-null String)}}
   :resolve :update-user}
  :post
  {:type    :Post
   :args    {:url         {:type (non-null String)}
             :title       {:type (non-null String)}
             :description {:type String}}
   :resolve :create-post}
  :upvote
  {:type    :Post
   :args    {:id {:type (non-null String)}}
   :resolve :upvote-post}
  :downvote
  {:type    :Post
   :args    {:id {:type (non-null String)}}
   :resolve :downvote-post}
  :comment
  {:type    :Comment
   :args    {:description  {:type (non-null String)}
             :posted_to    {:type (non-null Int)}
             :replied_to   {:type (non-null Int)}
             :commented_by {:type (non-null String)}}
   :resolve :create-comment}
  }}
